SECRET_KEY=
DEBUG=True
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
ALLOWED_GOOGLE_DOMAINS=xtec.cat,ioc.cat
DATABASE_URL=sqlite:///./db.sqlite3
#DATABASE_URL=mysql://ioctester:testerpass@localhost:3306/ioctester
